{% extends "base.html" %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container h-100" id="landing">

    <div class="content">
        <h1>Natural products to align<br>your mind body and soul.</h1>
        <a href="{% url 'products' %}" class="btn">2022 Collections</a>
    </div>
</div>
<section id="services" class="container">
    <h2 class="display-4 text-center mt-5 mb-3">Our Collections</h2>

    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://wild-indigos.s3.us-west-1.amazonaws.com/media/boho.jpg"
                    alt="Jewelry" width="300" height="300">
                <div class="card-body">
                    <h4 class="card-title">Bracelets</h4>
                    <p class="card-text">Custom jewelry made with precious gemstones and metals to help ground and align
                        your wild spirit.</p>
                </div>
                <div class="card-footer py-4">
                    <a href="{% url 'products' %}" class="btn btn-black rounded-0">See Bracelets</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://wild-indigos.s3.us-west-1.amazonaws.com/media/supplements.jpg"
                    alt="Supplements" width="300" height="300">
                <div class="card-body">
                    <h4 class="card-title">Supplements</h4>
                    <p class="card-text">Handcrafted tinctures with top quality ingredients to support your health and
                        wellness.</p>
                </div>
                <div class="card-footer py-4">
                    <a href="{% url 'products' %}" class="btn btn-black rounded-0">See Supplements</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://wild-indigos.s3.us-west-1.amazonaws.com/media/faith.jpg"
                    alt="Swag" width="300" height="300">
                <div class="card-body">
                    <h4 class="card-title">Wild Swag</h4>
                    <p class="card-text">Keep your outer self as wild as your inner with our one-of-akind apparel.</p>
                </div>
                <div class="card-footer py-4">
                    <a href="{% url 'products' %}" class="btn btn-black rounded-0">See shirts</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid text-center py-4 mt-4" id="contact">
    <h2 class="display-4 pb-4 my-4">Get in touch!</h2>
    <p class="lead pb-3">We will get back to
        you as soon as possible.</p>
    <a href="#" class="btn btn-black rounded-0" role="button">Contact us</a>
</section>
<footer class="py-3 bg-light">
    <div class="container">
        <p class="text-center">Copyright &copy; Wild Indigos 2022 Student Website</p>
    </div>
</footer>


{% endblock %}