{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block content %}
<div class="content">
    <h1 class="page-header">Thank You!</h1>

    <p>Your order information is below.<br> A confirmation email will be sent to you.</p>
    <a href="{% url 'products' %}" class="btn btn-black rounded-0 my-2">Back to store</a>

</div>

{% endblock %}