/* code Institute's Boutique Ado code was largely used for styling across site*/
/*02/04/2022 version 2.1*/
html {
    height: 100%;
}

body {
    background: url('/media/landing.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Poppins';
}

/* from Bulma 
.icon {
    align-items: right;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


a.nav-link.link-style {
    color: #ffffff;
}

.li.nav-item {
    position: right;
}

a.nav-link.cart-link {
    color: #ffffff
}

.main-logo-link {
    width: fit-content;
}

a {
    color: #9198e5;
}
*/
.content h3 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #101013;
}

.content p {
    font-size: 20px;
    color: #131314;
}

.content {
    margin-left: 10%;
    margin-top: 10%;
    animation: moveright 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes moveright {
    0% {
        transform: translateX(-100px);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}



.content .btn {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}


/* -- Browse button on landing page 
.shop-now-button {
    background: #222;
    color: #ffffff;
    min-width: 260px;
}

.btn-black {
    background: #222;
    color: #ffffff;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #000;
    color: #ffffff !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #ffffff;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #222 !important;
}

.bg-black {
    background: #000 !important;
}

/* -- Navbar Icons -- */
i.fas.fa-user.fa-lg::before {
    color: #ffffff;
    align-items: end;
}

i.fas.fa-shopping-bag.fa-lg::before {
    color: #ffffff;

}

p.my-0 {
    color: #ffffff;
    align-items: flex-end;
    justify-content: flex-end;
}

/* -- Glass Morphism effect on landing-- */
h1.display-4.logo-font.text-black {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
}

/* -- Navbar -- */
.nav-layout {
    margin-left: 0%;
    padding-right: 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #D9D9D9;
}

.collapse-format {
    text-align: right;
}

.basket-icon {
    font-size: 1.5rem;
    padding-top: 1rem;
    color: #fff;
}

.basket-update-button {
    border: none;
    color: teal;
    background-color: #fff;
    padding: 0;
    font-size: small;
}

.logo {
    margin: 1rem auto 0 auto;
    max-height: 5rem;
}

.information-format {
    text-align: center;
    margin-top: 3rem;
}

.container-format {
    margin-top: 3rem;
}

.link-style {
    text-decoration: none;
    color: #D9D9D9
}

.cart-link {
    text-decoration: none;
    color: #fff;
}

.div.row.bg-dark {
    padding: 0;
    margin: 0;
    float: right;
}

/* -- Toast messaging stying-- */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -- FOOTER ICONS adapted from Font Awesome -- */
.social-icons {
    list-style: none;
    text-align: center;
}

div.col-12.information-format {
    text-align: center;
}

/* -- Footer social media icons-- */
.social-icons i {
    font-size: 120%;
    margin: 10px 30px;
    margin-top: 20px;
}

.social-icons a {
    color: #fff;
    text-decoration: underline;
}

.social-icons a:hover {
    color: #6c757d;
    text-decoration: underline;
}

h1 {
    color: #09090a;
    position: center;
}

h2 {
    color: #09090a;
}

p {
    color: #09090a;
}

.social-icons:hover {
    text-decoration: none;
    color: #09090a;
    font-size: 3rem;
    padding: 0 2rem;
    transition: ease-in-out 2s;
}

.div.col-12.information-format {
    justify-content: center;
    position: center;
}

/* Product Page */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #ffffff;
    z-index:
        -1;
}

/* -- Contact Form-- */
.contact-form-submit {
    text-align: center;
}

form#search {
    background-color: #ffffff;
}

/* Login Page*/
.a.socialaccount.provider.facebook {
    color: #000;
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}


/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

/* Contact Page */
h1.products-title {
    text-align: center;
    color: #36383a;
    text-shadow: rgb(34, 34, 34);
}

form#contact {
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
    padding: 50px;
    padding-top: 60px;
    margin-top: 50px;
    background: linear-gradient(#ddcaca, #9198e5);
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #3e3f3f;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(46, 42, 42);
}

div.socialaccount_ballot {
    color: #000;
}

/* Media Queries */
@media (max-width: 775px) {
    .animate-charcter {
        font-size: 40px;
    }

    h1.display-4.logo-font.text-black {
        font-size: 30px;
    }

    /* Slightly larger container on xl screens */
    @media (min-width: 1200px) {
        .container {
            max-width: 80%;
        }
    }

    /* fixed top navbar only on medium and up */
    @media (min-width: 992px) {
        .fixed-top-desktop-only {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
        }

        .header-container {
            padding-top: 164px;
        }
    }

    @media (max-width: 991px) {
        .header-container {
            padding-top: 116px;
        }

        body {
            height: calc(100vh - 116px);
        }
    }
}