/* code Institute's Boutique Ado code was largely used for styling across site*/
/*02/04/2022 version 2.1*/
html {
    height: 100%;
}

body {
    background: url("/media/flower.jpg") no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-weight: 200;
    font-family: "Poppins", 'Sans-Serif';
}

/* -- Landing page animation element */
.content h1 {
    font-size: 60px;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #fff;
    font-family: "BioRhyme+Expanded";
}

.content p {
    font-size: 20px;
    color: #fff;
}

.content {
    margin-left: 10%;
    margin-top: 30%;
    animation: moveright 1s linear 1;
    animation-delay: 0.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes moveright {
    0% {
        transform: translateX(-100px);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

h2.display-4.text-center.mt-5.mb-3 {
    font-family: 'BioRhyme+Expanded';
    font-weight: 800;
    color: #ffffff;
}

.content .btn {
    display: inline-block;
    background: linear-gradient(45deg, #f090b8, #ebdee6);
    border-radius: 6px;
    padding: 20px 40px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

/* -- Contact section on landing page */
#contact {
    background: url("/media/background.jpg") no-repeat center;
    background-size: cover;
}

/* -- Black Buttons throughout pages */
.shop-now-button {
    background: #222;
    color: #ffffff;
    min-width: 260px;
}

.btn-black {
    background: #222;
    color: #ffffff;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #000;
    color: #ffffff !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #ffffff;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #222 !important;
}

.bg-black {
    background: #000 !important;
}

/* -- Navbar Icons -- */
i.fas.fa-user.fa-lg::before {
    color: #ffffff;
    align-items: end;
}

i.fas.fa-shopping-bag.fa-lg::before {
    color: #ffffff;
}

p.my-0 {
    color: #ffffff;
    align-items: flex-end;
    justify-content: flex-end;
}

/* -- Navbar  -- */
.nav-layout {
    margin-left: 0%;
    padding-right: 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #8f8b8b;
}

.collapse-format {
    text-align: right;
}

.basket-icon {
    font-size: 1.5rem;
    padding-top: 1rem;
    color: #fff;
}

.logo {
    margin: 1rem auto 0 auto;
    max-height: 5rem;
}

.information-format {
    text-align: center;
    margin-top: 3rem;
}

.container-format {
    margin-top: 3rem;
}

.link-style {
    text-decoration: none;
    color: #d9d9d9;
}

.cart-link {
    text-decoration: none;
    color: #fff;
}

.div.row.bg-dark {
    padding: 0;
    margin: 0;
    float: right;
}

/* -- Toast messaging stying-- */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* Product Page */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #ffffff;
    z-index: -1;
}

img.card-img-top.img-fluid {
    height: 230.44px;
}

button.form-control.btn.rounded-0 {
    margin-left: 2px;
    height: 72%;
    width: 90%;
}

input.form-control.rounded-0 {
    height: 60%;
    width: 363%;
}

/* -- Contact Form-- */
.contact-form-submit {
    text-align: center;
}

form#search {
    background-color: #ffffff;
}

/* Login Page*/
.a.socialaccount.provider.facebook {
    color: #000;
}

a {
    color: #ffffff;
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

@media only screen and (min-width: 768px) {
    .allauth-form-inner-content {
        margin-top: 5.5rem;
    }
}

/* Checkout */
.jumbotron {
    background: url("/media/glitter.jpg") no-repeat center;
    background-size: cover;
    margin-top: 20px;
}

/* Jumbotron Text styling */

h1.display-3 {
    color: #ffffff;
    font-family: 'Arima + Madurai';

}

p.lead.pb-4 {
    color: #ffffff;
}

@media only screen and (min-width: 992px) {
    .div.col-12 {
        padding: 10px 12px;
    }
}

form .btn-primary {
    background-color: #f090b8;
    border-color: #ebdee6;
}

/* Contact Page 
h1.products-title {
    text-align: center;
    color: #36383a;
    text-shadow: rgb(34, 34, 34);
}

form#contact {
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
    padding: 50px;
    padding-top: 60px;
    margin-top: 50px;
    background: linear-gradient(#f090b8, #ebdee6);
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #3e3f3f;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(46, 42, 42);
}

div.socialaccount_ballot {
    color: #000;*/
}

/* search icon */
.div-input-group-append {
    height: 85%;
    width: 75%;
}

button.form-control.btn.rounded-0 {
    height: 100%;
    width: 100%;
}

/* 404 Error Page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frem {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('https://wild-indigos.s3.us-west-1.amazonaws.com/media/caveman.gif');
    background-position: center;
    background-repeat: no-repeat;
}

.frem p {
    position: absolute;
    top: 3rem;
    font-size: 7rem;
    color: #00000063;
}

.frem h2 {
    position: absolute;
    bottom: 8rem;
    font-size: 34px;
}

.frem h5 {
    position: absolute;
    bottom: 6rem;
    color: #9c9c9c;
}

.frem a {
    position: absolute;
    bottom: 1rem;
    background: linear-gradient(45deg, #ff0034, #ffbc00);
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 23px;
    border-radius: 13px;
}

/* Media Queries */
@media (max-width: 775px) {
    .animate-charcter {
        font-size: 40px;
    }

    h1.display-4.logo-font.text-black {
        font-size: 30px;
    }

    /*Landing page animation element*/
    @media only screen and (max-width: 600px) {
        .content h1 {
            font-size: 50px;
            font-weight: 70;
            margin-top: 40px;
            margin-bottom: 20px;
            color: #ffffff;
        }

        a.btn {
            padding-top: 40px;
        }
    }

    @media only screen and (max-width: 408px) {
        .label.form-check-label {
            display: none;
        }
    }

    /* Slightly larger container on xl screens */
    @media (min-width: 1200px) {
        .container {
            max-width: 80%;
        }
    }

    /* fixed top navbar only on medium and up */
    @media (min-width: 992px) {
        .fixed-top-desktop-only {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
        }

        .header-container {
            padding-top: 164px;
        }
    }

    @media (max-width: 991px) {
        .header-container {
            padding-top: 116px;
        }

        body {
            height: calc(100vh - 116px);
        }
    }

    @media only screen and (max-width: 600px) {
        #input.form-control.rounded-0 {
            height: 363%;
            width: 60%;
        }
    }
}