html {
    height: 100%;
}

body {
    background: url('/media/moonmed.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Poppins';
}

/* from Bulma */
.icon {
    align-items: rightr;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

i.fas.fa-user.fa-lg::before {
    color: white;
    align-items: end;
}

i.fas.fa-shopping-bag.fa-lg::before {
    color: white;

}

p.my-0 {
    color: white;
    align-items: flex-end;
    justify-content: flex-end;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index:
        -1;
}

.navbar-brand {
    font-size: 40px;
    font-weight: 300;
    font-family: "rochester";
    float: left;
    padding-bottom: 5px;
}

a.navbar-brand {
    float: left;
}

.navbar-nav li {
    padding-right: 10px;
}

div.container.justify-content-between {
    margin: 0;
    padding: 0;
}

div#navbar-Responsive.collapse.navbar-collapse {
    float: center;
}

div.collapse.navbar-collapse {
    justify-content: center;
}

footer {
    align-items: center;
    margin-top: 50px;
    background-color: #343a40;
    color: #fff;
}

.footer-copyright {
    text-align: center;
    padding: 20px 0;
}

.social-container {
    padding: 16px 0;
}

footer ul {
    display: flex;
    justify-content: center;
    margin: 0;
}

/* -- FOOTER ICONS adapted from Font Awesome -- */
.social-icons {
    list-style: none;
}

.social-icons i {
    font-size: 120%;
    margin: 0 30px;
}

.social-icons a {
    color: #fff;
    text-decoration: underline;
}

.social-icons a:hover {
    color: gray;
    text-decoration: underline;
}

.overlay-store {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}