<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="health-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Health
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="health-link">
                <a href="" class="dropdown-item">Oils</a>
                <a href="" class="dropdown-item">Tinctures & Tonics</a>
                <a href="" class="dropdown-item">Sleep aids</a>
                <a href="" class="dropdown-item">Topicals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="jewelry-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Jewelry
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="jewelry-link">
                <a href="" class="dropdown-item">Diffuser Bracelets</a>
                <a href="" class="dropdown-item">Gemstone Necklaces</a>
                <a href="" class="dropdown-item">Earings</a>
                <a href="" class="dropdown-item">Body Jewelry</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Tank Tops</a>
                <a href="" class="dropdown-item">Shirts</a>
                <a href="" class="dropdown-item">Cover-ups</a>
                <a href="" class="dropdown-item">Jackets</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="classes-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Classes & Retreats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>