{% extends 'base.html' %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'static/css/base.css' %}">
{% endblock %}

{% block content %}
<!--Inspiration for the caveman error page found from QuickCode here: https://www.youtube.com/watch?v=P7C9nZQKBEg'-->
<div class="overlay"></div>
<div class="frem">
    <p>404</p>
    <h2>Looks like you're lost</h2>
    <h5>the page you are looking for not available</h5>
    <a href="{% url 'home' %}" class="btn btn-black rounded-0">Home</a>
</div>
{% endblock %}