{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<header class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
                <h1 class="display-3">Contact Us</h1>
                <p class="lead pb-4">Fill out the form below.</p>
        </div>
</header>

<!-- Contact Form (code snippet adapted from www.W3schools.com) -->
<div class="container">
        <form id="contact" action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <button id="contact-form-submit" class="btn btn-black rounded-0" value="submit">Submit</button>
        </form>



        {% endblock %}