{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/success.css' %}" type="text/css">
{% endblock %}

{% block content %}
<section class="hero">

        <div class="hero-content">

                <h1 class="hero-title">
                        Thank you for contacting Wild Indigos!
                </h1>

                <h2 class="hero-subtitle">
                        We will be in touch soon!
                </h2>
                <div class="my-5"></div>
                <a href="{% url 'home' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Back
                        home</a>
        </div>
        </div>
</section>
<div class="col-12 information-format">
        <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram"><i
                        class="fab fa-instagram social-icons"></i></a>
        <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook"><i
                        class="fab fa-facebook social-icons"></i></a>
        <a href="https://www.twitter.com/" target="_blank" aria-label="Twitter"><i
                        class="fab fa-twitter social-icons"></i></a>
</div>
</div>


{% endblock %}